header{
    padding-top: 2rem;
    margin: 0;
    background-color: #E0F4FF ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.Navigasjonbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30%;
}
#prosjekter{
    position: right;
    padding-left: 600px;
    padding-top: 15px;
}

#prostext{
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
    font-size: 2.5rem;
    color: grey;

}

#prostext:hover {
    color: lightgray;
    cursor: pointer;
}
body {
    margin-top: 300px;
    background-color: #87C4FF;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.body0 {
    width: 100%;
    margin-top: 300px;
    background-color: #39A7FF ;
    margin-left: 0;
    margin-right: 0;
}
.body1 {
    width: 100%;
    margin-top: 300px;
    background-color: #87C4FF;
    margin-left: 0;
    margin-right: 0;
}

.Gruppenavn{
    padding-bottom: 3rem;
    font-size: 3rem;
    margin-bottom: 0;
    color: grey;
}
.Gruppehov :hover {
    color: lightgray;
    cursor: pointer;
}

.hverpers1 {
    background-color: #39A7FF;
    margin-top: 0;
    max-width: 100%;
    margin: 0;
}
.hverpers0 {
    background-color: #87C4FF;
    margin-top: 0;
    max-width: 100%;
    margin: 0;
}

.hverpers0 :hover{
cursor: pointer;
}
.hverpers1:hover{
    cursor: pointer;
}

.perstittel1 { 
    text-align: left;
    padding-left: 5rem;
    padding-top: 3rem;
    font-size: 3rem;
    color: white;

}
.perstittel0 { 
    text-align: left;
    padding-left: 5rem;
    padding-top: 1rem;
    font-size: 3rem;
    color: grey;

}

.tekst{
    font-size: 2.5rem;
    padding-right: 5rem;
    color: whitesmoke;

}

.tekstogBilde1 {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}
.tekstogBilde0 {
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.Bilde0{
    width: 500px;
    height: 500px;
}

#beskrivelse{
    padding-left: 5rem;
    margin-right: 20%;
}

svg{
    padding-left: 35%;
}

#kreativfigurtekst{
    margin-left: 5rem;
    padding-top: 2rem;
    padding-right: 0;
    font-size: 50px;
    border-bottom: solid;
    display: inline-block;
}




.figurtekst{
    font-size: 2.5rem;
    padding-right: 10rem;
    color: whitesmoke;
    cursor: pointer;
}

.quotetekst{
    width: 60%;
    margin: 10rem;
}

#MathiasFitekst{
    padding-left: 5rem;
}

#klimatekst{
    padding-left: 5rem;
    margin-right: 20%;
}

#cont{
    padding-left: 0;
}
#tabellKlima{
    font-size: 1rem;
    margin-top: 0.1rem;
    color: white;
    padding-left: 5rem;
}

#klimaBilde{
    padding-left: 5rem;
}


